extends ../node_modules/maki/views/layouts/default

block content
  h1 What is decentral.fm?
  h2 We're tired of the endless battle for profits, and think we can build something better.
  
  p The Internet has disrupted every model of traditional media in existence, with newpapers, magazines, television, film, and music all struggling to find new business models to deal with the new liberties provided by the simple fact that anyone in the world can now publish content, so long as they have an Internet connection.
  
  p Publishers are third-parties.  They are middle-men, providing a service that may once have had value, but value that is diminishing and rapidly approaching zero.  Their clawing fingers scrape at true content producers, seeking profits for their snake-oil and making it impossible, in many cases, to make an honest living.
  
  h3 Disintermediate the sycophants.
  p Let's cut all the intermediaries completely out of the picture, and make it impossible to censor or disrupt the publishing of media, for any reason.
  
  h3 Technical problems require technical solutions.
  p Bitcoin, BitTorrent, TOR, CJDNS, Foxtrot, Storj, and many more... all exciting technologies that disintermediate some portion of our reality, bringing us closer and closer to a world where it's impossible for third-parties to disrupt our business.
  
  p Figuring out how to use all of these things, however, is <em>hard</em>.  That's where decentral.fm fits in &mdash; we'll put it all together for you, and make it easy to distribute media that is free from censorship and provides you with the appropriate compensation for your effort.
  
  h3 We're a work in progress.  Stay tuned.
